<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title >Parapop</title>
	 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta charset="UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

        <!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-right">

						<form method = "GET">
							<div id = "user_browser">
								<div class = "input-group col-md-12">
									{% if is_error %}
										{{message_error}}
									{% endif %}
									<input name="q" placeholder="Que estas buscando?" id="buscador">
									<!--<input type = "text" class = "form-control" placeholder="¿Buscando a alguien?" name = "user_browsed">-->
									<span class = "input-group-list">
										<i class = "icon icon-search"></i>
										<button type = "submit" class="ac_btn">Buscar</button>
								</div>
							</div>
						</form>

						<select class="lan_pack">
							<option value="1">Todo</option>
						<option value="1">Ropa y accesorios</option>
							<option value="1">Deportes</option>
							<option value="1">Motor</option>
							<option value="1">Tenis</option>
							<option value="1">Videojuegos</option>
							<option value="1">Dipositivos multimedia</option>
						</select>
						{% if user.is_authenticated %}

							<a class="ac_btn" href="{% url 'logout' %}">Cerrar Sesion</a>
							<a class="dn_btn" href="{% url 'profile' %}">Perfil</a>
						{% else %}
							<a class="ac_btn" href="/login">Iniciar Sesión</a>
							<a class="dn_btn" href="/register">Regístrate</a>
						{% endif %}
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand-logo_h-titulo" href="http://localhost:8000/" >Parapop</a>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								{% if user.is_authenticated %}
								<li class="nav-item"><a class="nav-link" href="{% url 'products' %}">Mis productos</a></li>
								{% else %}
								<li class="nav-item"><a class="nav-link" href="{%url 'login' %}">Mis productos</a></li>
								{% endif %}
								<li class="nav-item"><a class="nav-link" href="#">Contáctanos</a></li>
								<li class="nav-item"><a class="nav-link" href="/FAQ">Preguntas Frecuentes</a></li>
							</ul>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item"><a href="#" class="search"><i class="lnr lnr-magnifier"></i></a></li>
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->


        <!--================Home Banner Area =================-->

        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						{% if user.is_authenticated %}
						<h3>¿Qué estás buscando hoy, {{request.user.username}} ? </h3>

						{% else %}
						<h3>¿Qué estás buscando hoy? </h3>
						{% endif %}
						<p>Parapop, la plataforma líder en la compraventa de segunda mano
							<br>
						</br>
						{% if user.is_authenticated %}
								<a class="blue_btn"  href="{% url 'sell_product' %}"  >Vender Producto</a>
								<a class="blue_btn" href="#">Explorar</a>
						{% else %}
								<a class="blue_btn"  href="{% url 'login' %}"  >Vender Producto</a>
								<a class="blue_btn" href="#">Explorar</a>
						{% endif %}

					</div>
				</div>
            </div>
					<br><br><br>
				</div>
        </section>
        <!--================End Home Banner Area =================-->

		</script>
</body>

</html>
